{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="container">
        <div class="jumbotron mt-3"> <!-- V signifie margin-top à 3 -->
            <h1 class="display-3">Bienvenue sur Room to rent !</h1>
            <p class="lead">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut nostrum quos veritatis. Accusamus aliquam at culpa doloremque esse et,
                fugiat itaque laudantium maiores minima recusandae repellat voluptatibus, voluptatum. Maiores, veritatis!
            </p>
            <hr class="my-4">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, deleniti doloremque enim ex ipsa maiores minus nesciunt!
                Asperiores cupiditate nostrum numquam quas quia, quos rerum sapiente, sunt vel velit voluptatum.
            </p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="#" role="button">Voir les annonces</a>
            </p>
        </div>

        <h2 class="h1 my-5">Nos appartements stars</h2>
        <div class="row">
            {% for data in ads %}
                {% include 'ad/_ad.html.twig' with {'ad': data.annonce} %}
            {% endfor %}
        </div>

        <h2 class="h1 my-5">Nos propriétaires stars</h2> <!-- en haut du 3, en bas du 4 -->
        <div class="row">
            {% for data in users %}
                <div class="col">
                    <div class="card border-secondary mb-3">
                        <div class="card-body">
                            <h4 class="card-title">{{ data.user.fullName }}</h4>
                            <hr>
                            <div class="card-text">
                                <img src="{{ data.user.pictureUrl }}" class="float-left mr-3" alt="Avatar de {{ data.user.fullName }}">
                                <p>
                                    {{ data.user.introduction }}
                                </p>
                                <a href="{{ path('user_show', {'slug': data.user.slug}) }}" class="btn btn-success float-right">En savoir plus</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
