{% extends 'base.html.twig' %}

{% block title %}Créer une annonce{% endblock %}

{% block body %}
    {% form_theme annonce_form _self %} <!-- __self signifie dans le même fichier, car ici le thèm est défini dans le même fichier -->
    <div class="container">
        <h1>Créer une nouvelle annonce</h1>
        {{ form_start(annonce_form) }}
        {{ form_widget(annonce_form) }}  <!-- affiche un champ ou un groupe de champs, permet d'ajouter du code personnalisé ensuite
        appelle form_row pour chaque champ. -->
        {{ form_end(annonce_form) }} <!-- crée un jeton de sécurité CSRF -->
    </div>
{% endblock %}


{% block form_row %}
    {# dump() #} <!-- afficher l'ensemble des variables disponibles au sein de ce block -->
    <div class="form-group"> <!-- pour chaque champ l'on veut une div avec la class form-group -->
        {{ form_label(form) }}
        {{ form_widget(form) }}
    </div>
{% endblock form_row %}

